
    <!-- Header Start -->
<div class="jumbotron jumbotron-fluid position-relative overlay-bottom">
    <div class="container text-center my-5">
        <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
        </div>
    </div>
</div>
<!-- Header End -->


    <!-- Detail Start -->
    <div class="container-fluid">
        <div class="container ">
            <div>
                <p class="alert alert-info">
                    <span style="font-size:2rem;">Merci !</span><br/>
                    <span style="font-size:2rem;">Votre inscription est Envoyée !</span><br/>
                    <span>Attendez à ce qu'on vous contacte de notre part pour vous fournir plus de détails.</span><br/>
                </p>
            </div>
        </div>
    </div>
    <!-- Detail End -->
