    <!-- Header Start -->
<div class="jumbotron jumbotron-fluid position-relative overlay-bottom">
    <div class="container text-center my-5">
        <h1 class="text-white display-1 mb-5">Politique de confidentialité</h1>
        <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
        </div>
    </div>
</div>
<!-- Header End -->

    <!-- Feature Start -->
    <div class="container-fluid">
        <div class="container">
            <div>
                <h1>Confidentialité</h1>
                <h2>1. Collecte des informations</h2>
                <p>
                    Nous pouvons collecter les types d’informations suivants :<br>
                    Informations personnelles : nom, adresse e-mail, numéro de téléphone, etc., que vous nous fournissez volontairement lors de votre inscription ou de la prise de contact.<br>
                    Données de navigation : adresse IP, type de navigateur, pages visitées, temps passé sur le site, etc., collectées automatiquement via des cookies ou des outils d’analyse.
                </p>

                <h2>2. Utilisation des informations</h2>
                <p>
                    Les données collectées peuvent être utilisées pour :<br>
                    Fournir et améliorer nos services.<br>
                    Répondre à vos demandes et messages.<br>
                    Vous envoyer des mises à jour ou des informations importantes concernant votre compte ou nos services.<br>
                    Analyser l’utilisation de notre site à des fins statistiques.
                </p>

                <h2>3. Partage des informations</h2>
                <p>Nous ne vendons, n’échangeons, ni ne louons vos données personnelles à des tiers. Toutefois, nous pouvons les partager avec des prestataires de confiance qui nous aident à exploiter notre site ou à fournir nos services, sous condition de confidentialité.</p>

                <h2>4. Sécurité</h2>
                <p>Nous mettons en œuvre des mesures de sécurité techniques et organisationnelles pour protéger vos données contre l’accès non autorisé, la perte, ou la divulgation.</p>

                <h1 id="conditions">Conditions générales</h1>
                <h2>5. Vos droits</h2>
                <p>Vous avez le droit de :</p>
                <ul>
                    <li>Demander des rectification ou leur suppression.</li>
                    <li>Retirer votre consentement à tout moment.</li>
                    <li>Pour exercer ces droits, contactez-nous à l’adresse suivante : info&#64;example.com</li>
                </ul>

                <h2>6. Modifications</h2>
                <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute mise à jour sera publiée sur cette page avec une date de révision.</p>
            </div>
        </div>
    </div>
    <!-- Feature Start -->
