<!-- Header Start -->
<div class="jumbotron jumbotron-fluid position-relative overlay-bottom">
    <div class="container text-center my-5 py-5">
        <h1 class="text-white mt-4 mb-4">Apprendre à la maison</h1>
        <h1 class="text-white display-1 mb-5">Cours d'éducation</h1>
        <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">

        </div>
    </div>
</div>
<!-- Header End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="img/about.jpg" style="object-fit: cover;"
                        ngSkipHydration />
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">À propos de nous
                    </h6>
                    <h1 class="display-4">Premier choix pour l'éducation en ligne partout</h1>
                </div>
                <p>Notre plateforme d'éducation en ligne offre un accès facile à des cours de qualité, dispensés par des
                    experts. Apprenez à votre rythme, où que vous soyez, grâce à des contenus interactifs, des outils
                    pratiques et un suivi personnalisé. C’est la solution idéale pour progresser efficacement et
                    atteindre vos objectifs éducatifs.</p>
                <div class="row pt-3 mx-0">
                    <div class="col-3 px-0">
                        <div class="bg-success text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">16</h1>
                            <h6 class="text-uppercase text-white">Sujets <span class="d-block">disponibles</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-primary text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">123</h1>
                            <h6 class="text-uppercase text-white">Cours<span class="d-block">en ligne</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-secondary text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">4</h1>
                            <h6 class="text-uppercase text-white">Instructeurs<span class="d-block">qualifiés</span>
                            </h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-warning text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">1234</h1>
                            <h6 class="text-uppercase text-white">Etudiants<span class="d-block">heureux</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Courses Start -->
<div class="container-fluid px-0 py-5">
    <div class="row mx-0 justify-content-center pt-5">
        <div class="col-lg-6">
            <div class="section-title text-center position-relative mb-4">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Nos cours</h6>
                <h1 class="display-4">Découvrez les nouvelles versions de nos modules</h1>
            </div>
        </div>
    </div>
    <div class="owl-carousel courses-carousel">
        <div class="courses-item position-relative">
            <img class="img-fluid" src="img/courses-30.jpg" alt="" ngSkipHydration />
            <div class="courses-text">
                <h4 class="text-center text-white px-3" style="text-shadow: 1px 1px black !important;">Langue professionnel</h4>
                <div class="border-top w-100 mt-3">
                    <div class="d-flex justify-content-between p-4">
                        <span class="text-white"><i class="fa fa-user mr-2"></i>André René</span>
                    </div>
                </div>
                <div class="w-100 bg-white text-center p-4">
                    <a class="btn btn-primary" href="detail?id=16">Détails</a>
                </div>
            </div>
        </div>
        <div class="courses-item position-relative">
            <img class="img-fluid" src="img/courses-40.jpg" alt="" ngSkipHydration />
            <div class="courses-text">
                <h4 class="text-center text-white px-3" style="text-shadow: 1px 1px black !important;">Infographie</h4>
                <div class="border-top w-100 mt-3">
                    <div class="d-flex justify-content-between p-4">
                        <span class="text-white"><i class="fa fa-user mr-2"></i>Marie-Claire</span>
                    </div>
                </div>
                <div class="w-100 bg-white text-center p-4">
                    <a class="btn btn-primary" href="detail?id=5">Détails</a>
                </div>
            </div>
        </div>
        <div class="courses-item position-relative">
            <img class="img-fluid" src="img/courses-50.jpg" alt="" ngSkipHydration />
            <div class="courses-text">
                <h4 class="text-center text-white px-3" style="text-shadow: 1px 1px black !important;">Développement informatique</h4>
                <div class="border-top w-100 mt-3">
                    <div class="d-flex justify-content-between p-4">
                        <span class="text-white"><i class="fa fa-user mr-2"></i>Léo Adam</span>
                    </div>
                </div>
                <div class="w-100 bg-white text-center p-4">
                    <a class="btn btn-primary" href="detail?id=2">Détails</a>
                </div>
            </div>
        </div>
        <div class="courses-item position-relative">
            <img class="img-fluid" src="img/courses-60.jpg" alt="" ngSkipHydration />
            <div class="courses-text">
                <h4 class="text-center text-white px-3" style="text-shadow: 1px 1px black !important;">Réseaux informatiques</h4>
                <div class="border-top w-100 mt-3">
                    <div class="d-flex justify-content-between p-4">
                        <span class="text-white"><i class="fa fa-user mr-2"></i>Marc Antoine</span>
                    </div>
                </div>
                <div class="w-100 bg-white text-center p-4">
                    <a class="btn btn-primary" href="detail?id=9">Détails</a>
                </div>
            </div>
        </div>
        <div class="courses-item position-relative">
            <img class="img-fluid" src="img/courses-20.jpg" alt="" ngSkipHydration />
            <div class="courses-text">
                <h4 class="text-center text-white px-3" style="text-shadow: 1px 1px black !important;">Finance et Comptabilité de base</h4>
                <div class="border-top w-100 mt-3">
                    <div class="d-flex justify-content-between p-4">
                        <span class="text-white"><i class="fa fa-user mr-2"></i>Pierre Louis</span>
                    </div>
                </div>
                <div class="w-100 bg-white text-center p-4">
                    <a class="btn btn-primary" href="detail?id=14">Détails</a>
                </div>
            </div>
        </div>
        <div class="courses-item position-relative">
            <img class="img-fluid" src="img/courses-10.jpg" alt="" >
            <div class="courses-text">
                <h4 class="text-center text-white px-3" style="text-shadow: 1px 1px black !important;">Big Data et IA</h4>
                <div class="border-top w-100 mt-3">
                    <div class="d-flex justify-content-between p-4">
                        <span class="text-white"><i class="fa fa-user mr-2"></i>Anne Sophie</span>
                    </div>
                </div>
                <div class="w-100 bg-white text-center p-4">
                    <a class="btn btn-primary" href="detail?id=4">Détails</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center bg-image mx-0 mb-5">
        <div class="col-lg-6 py-5">
            <div class="bg-white p-5 my-5">
                <h1 id="inscription" class="text-center mb-4">30% de réduction pour les nouveaux étudiants</h1>
                <form method="get" action="thanks">
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input required id="name" type="text" class="form-control bg-light border-0" placeholder="Votre nom"
                                    style="padding: 30px 20px;">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input required type="email" class="form-control bg-light border-0" placeholder="Votre e-mail"
                                    style="padding: 30px 20px;">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input required type="text" class="form-control bg-light border-0" placeholder="Votre ville"
                                    style="padding: 30px 20px;">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input required id="tel" type="text" class="form-control bg-light border-0" placeholder="Votre Nº tel"
                                    style="padding: 30px 20px;">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select required id="message" class="custom-select bg-light border-0 px-3" style="height: 60px;">
                                    <option disabled selected value="0">Cours ...</option>
                                    @for (category of categories; track category) {
                                        <option disabled value="{{category}}" style="color:#2878eb; text-align:center; font-weight:bold; border-bottom:solid 1px;border-top:solid 1px;">--{{category}}--</option>
                                        @for (cour of cours; track $index) {
                                            @if (cour.category == category) { 
                                                <option value="{{$index}}">{{cour.title}}</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button href="thanks" class="btn btn-primary btn-block" style="height:60px;">Inscrivez-vous</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Courses End -->


<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="section-title text-center position-relative mb-5">
            <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Instructeurs</h6>
            <h1 class="display-4">Rencontrez nos instructeurs</h1>
        </div>
        <div class="owl-carousel team-carousel position-relative" style="padding: 0 30px;">
            <div class="team-item">
                <img class="img-fluid w-100" src="img/team-1.jpg" alt="" ngSkipHydration />
                <div class="bg-light text-center p-4">
                    <h5 class="mb-3">Marie Claire</h5>
                    <p class="mb-2">Inforgaphie</p>
                    <div class="d-flex justify-content-center">
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a>
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <img class="img-fluid w-100" src="img/team-2.jpg" alt="" ngSkipHydration />
                <div class="bg-light text-center p-4">
                    <h5 class="mb-3">Jean Paul</h5>
                    <p class="mb-2">Développement informatique</p>
                    <div class="d-flex justify-content-center">
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a>
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <img class="img-fluid w-100" src="img/team-3.jpg" alt="" ngSkipHydration />
                <div class="bg-light text-center p-4">
                    <h5 class="mb-3">Sarah Jade</h5>
                    <p class="mb-2">Réseaux informatiques</p>
                    <div class="d-flex justify-content-center">
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a>
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <img class="img-fluid w-100" src="img/team-4.jpg" alt="" ngSkipHydration />
                <div class="bg-light text-center p-4">
                    <h5 class="mb-3">André René</h5>
                    <p class="mb-2">Langue professionnel</p>
                    <div class="d-flex justify-content-center">
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a>
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                        <a class="mx-1 p-1" href="javascript:void(0);"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<div class="container-fluid bg-image py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Témoignage</h6>
                    <h1 class="display-4">Ce que disent nos étudiants</h1>
                </div>
                <p class="m-0">Dolor est dolores et nonumy sit labore dolores est sed rebum amet, justo duo ipsum
                    sanctus dolore magna rebum sit et. Diam lorem ea sea at. Nonumy et at at sed justo est nonumy
                    tempor. Vero sea ea eirmod, elitr ea amet diam ipsum at amet. Erat sed stet eos ipsum diam</p>
            </div>
            <div class="col-lg-7">
                <div class="owl-carousel testimonial-carousel">
                    <div class="bg-white p-5">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <p>Sed et elitr ipsum labore dolor diam, ipsum duo vero sed sit est est ipsum eos clita est
                            ipsum. Est nonumy tempor at kasd. Sed at dolor duo ut dolor, et justo erat dolor magna sed
                            stet amet elitr duo lorem</p>
                        <div class="d-flex flex-shrink-0 align-items-center mt-4">
                            <img class="img-fluid mr-4" src="img/testimonial-2.jpg" alt="" ngSkipHydration />
                            <div>
                                <h5>Nom de l'étudiant</h5>
                                <span>Conception de sites Web</span>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white p-5">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <p>Sed et elitr ipsum labore dolor diam, ipsum duo vero sed sit est est ipsum eos clita est
                            ipsum. Est nonumy tempor at kasd. Sed at dolor duo ut dolor, et justo erat dolor magna sed
                            stet amet elitr duo lorem</p>
                        <div class="d-flex flex-shrink-0 align-items-center mt-4">
                            <img class="img-fluid mr-4" src="img/testimonial-1.jpg" alt="" ngSkipHydration />
                            <div>
                                <h5>Nom de l'étudiant</h5>
                                <span>Conception de sites Web</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Start -->
     <!-- EmailJs -->
    
