<div class="row justify-content-center bg-image mx-0 mb-5">
        <div class="col-lg-6 py-5">
            <div class="bg-white p-5 my-5">
                <h1 id="inscription" class="text-center mb-4">30% de réduction pour les nouveaux étudiants</h1>
                <form method="get" action="thanks">
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input required id="name" type="text" class="form-control bg-light border-0" placeholder="Votre nom"
                                    style="padding: 30px 20px;">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input required type="email" class="form-control bg-light border-0" placeholder="Votre e-mail"
                                    style="padding: 30px 20px;">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input required type="text" class="form-control bg-light border-0" placeholder="Votre ville"
                                    style="padding: 30px 20px;">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input required id="tel" type="text" class="form-control bg-light border-0" placeholder="Votre Nº tel"
                                    style="padding: 30px 20px;">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select required id="message" class="custom-select bg-light border-0 px-3" style="height: 60px;">
                                    <option disabled selected value="0">Cours ...</option>
                                    @for (category of categories; track category) {
                                        <option disabled value="{{category}}" style="color:#2878eb; text-align:center; font-weight:bold; border-bottom:solid 1px;border-top:solid 1px;">--{{category}}--</option>
                                        @for (cour of cours; track $index) {
                                            @if (cour.category == category) { 
                                                <option value="{{$index}}">{{cour.title}}</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button href="thanks" class="btn btn-primary btn-block" style="height:60px;">Inscrivez-vous</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>